<h1>Events</h1>

<div>
    {{#each results}}
        <tr>
            <td>{{this.game}} </td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.players}}</td>
        </tr>
    {{/each}}
</div>