<h1>Create Event</h1>

<form action="createEvent" method="POST">
  <label>Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label>Game:</label><br>
  <input type="text" id="game" name="game" required><br>
  <label>Date:</label><br>
  <input type="date" id="date" name="date" required><br>
  <label>Time:</label><br>
  <input type="time" id="time" name="time" required><br><br>
  <input type="submit">
</form>