
<h1>Signup page</h1>
{{!-- we will make an api route for this form for a post request to database --}}
<form>
  <label for="fname">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="lname">Age:</label><br>
  <input type="text" id="age" name="age"><br>
  <label for="lname">Game:</label><br>
  <input type="text" id="game" name="game"><br><br>
  <input type="submit">
</form>