<h1>Create Event</h1>

<form action="createEvent" method="POST">
  <label>Game:</label><br>
  <input type="text" id="game" name="game" required><br>
  <label>Date:</label><br>
  <input type="date" id="date" name="date" ><br>
  <label>Time:</label><br>
  <input type="time" id="time" name="time" ><br>
  <label>Contact Info:</label><br>
  <input type="text" id="contact" name="contact" required><br>
  <label>Additional Details:</label><br>
  <input type="text" id="details" name="details"><br>
  <input type="submit">
</form>