<!DOCTYPE html>
<html lang="en">
    
<head>
    <!-- <meta> tags> -->
    <title>Book Face</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
   
    <!---<link rel="stylesheet" href="/public/style.css" type="text/css">-->
</head>

<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/events">Gamio</a>
            <a class="nav-link" href="/signup">Create event</a>
            <a class="nav-link" href="/events">Upcoming events</a>
            <a class="nav-link" href="/createAccount">Create account</a>
            <a class="nav-link" href="/profile">Profile</a>
            <a class="nav-link" href="/login">Login</a>
        </nav>
        {{{body}}}
    </div>
</body>
</html>