<html lang="en">
<head>
    <!-- <meta> tags> -->
    <title>Book Face</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/signup">sign up</a>
            <a href="/events">upcoming events</a>
        </nav>
        {{{body}}}
    </div>
</body>
</html>